$primary-50: #C95F49;
$primary-100: #C95F49;
$primary-200: #C95F49;
$primary-300: #C95F49;
$primary-400: #C95F49;
$primary-500: #C95F49;
$primary-600: #C95F49;
$primary-700: #C95F49;
$primary-800: #C95F49;
$primary-900: #C95F49;

$secondary-50: #C95F49;
$secondary-100: #C95F49;
$secondary-200: #C95F49;
$secondary-300: #C95F49;
$secondary-400: #C95F49;
$secondary-500: #C95F49;
$secondary-600: #C95F49;
$secondary-700: #C95F49;
$secondary-800: #C95F49;
$secondary-900: #C95F49;

$greyscale-50: #F9F9F9;
$greyscale-100: #F9F9F9;
$greyscale-200: #F9F9F9;
$greyscale-300: #F9F9F9;
$greyscale-400: #F9F9F9;
$greyscale-500: #F9F9F9;
$greyscale-600: #F9F9F9;
$greyscale-700: #F9F9F9;
$greyscale-800: #F9F9F9;
$greyscale-900: #F9F9F9;
