@import '~normalize.css';
@import '~material-icons/iconfont/material-icons.scss';

@import './palette';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  user-select: none;
}
html {
  font-family: 'Atkinson Hyperlegible';
  font-size: 62.5%;
}
body {
  background-color: $greyscale-400;
  font-size: 1.4rem;

  overflow: hidden;
}
a {
  text-decoration: none;

  color: #000;
}
